html, body, #root{
  background-color: #131313
}

.leaflet-container{
  width: 100%;
  height: 91vh;
  margin-top: 30px;
}


.request-popup .leaflet-popup-content-wrapper {
  border-radius: 2px;
  background-color: #101010;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #101010;
  box-shadow: 0 1px 5px rgba(250,0,0,0.4);
}

.leaflet-popup-tip, .leaflet-popup-tip-container{
  color: #101010;
}

/* color del placeholder del buscador*/
input[type="text"]::placeholder { /* Firefox, Chrome, Opera */ 
  color: #ccc; 
} 

input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
  color: #ccc; 
} 

input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */ 
  color: #ccc; 
} 

/* estilos del contenido del buscador*/
.listabuscador{
  top:5.5em; 
  width:95%;
}

.listabuscador *{
  transition: 0.4s ;
}

.listabuscador *:hover{
  background-color: #e3f2fd;
  cursor: pointer;
}

@media (min-width:36em){
  .listabuscador{
    width:265px;
  } 
} 

@media (min-width:45em){
  .listabuscador{
    top:3.1em; 
  } 
}