html, body, #root{
  background-color: #212121
}

.leaflet-container{
  width: 100%;
  height: 88vh;
  margin-top: 30px;
}


.request-popup .leaflet-popup-content-wrapper {
  border-radius: 2px;
  background-color: #212121;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #212121;
  box-shadow: 0 1px 5px rgba(250,0,0,0.4);
}

.leaflet-popup-tip, .leaflet-popup-tip-container{
  color: #212121;
}
